Source: camera-engine-rkaiq
Priority: optional
Maintainer: Caesar Wang <wxt@rock-chips.com>
Build-Depends: debhelper (>= 9),
               meson,
               pkg-config,
               dh-exec,
               xxd,
               gcc,
               cmake,
               make,
               ninja-build,
               git
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/rockchip-linux/camera_engine_rkaiq
Vcs-Git: https://github.com/rockchip-linux/camera_engine_rkaiq
Vcs-Browser: https://github.com/rockchip-linux/camera_engine_rkaiq

Package: camera-engine-rkaiq-rk3588
Architecture: arm64
Depends: systemd
Description: 3A libraries match Rockchip rkisp v30(rk3588).
Provides: camera-engine-rkaiq-rk3588
Conflicts: camera-engine-rkaiq-rk3588
Replaces: camera-engine-rkaiq-rk3588

Package: camera-engine-rkaiq-rk3568
Architecture: arm64
Depends: systemd
Description: 3A libraries match Rockchip rkisp v21(rk3566_rk3568).
Provides: camera-engine-rkaiq-rk3568
Conflicts: camera-engine-rkaiq-rk3568
Replaces: camera-engine-rkaiq-rk3568
