[Unit]
Description=Enable Rockchip camera engine rkaiq
DefaultDependencies=no

[Service]
Type=forking
ExecStart=/etc/init.d/rkaiq_daemon.sh start
ExecStop=/etc/init.d/rkaiq_daemon.sh stop

[Install]
WantedBy=sysinit.target
